@import 'https://uvu.evaluationkit.com/canvas/css';
/*********************************************************************/
/***** BEGIN DESIGNPLUS THEME IMPORT & CUSTOMIZATION  ****************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */

/*** Legacy Sidebar ***/
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);

/*** New Sidebar ***/
/* For Main CSS files */
@import url(https://designplus.ciditools.com/css/content.css);
@import url(https://designplus.ciditools.com/css/editor.css);
/* For Mobile app CSS file */
/*@import url(https://designplus.ciditools.com/css/mobile.css);*/

:root {
    --dt-color-primary: #275D38;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #000000;
    --dt-color-secondary: #000000;
    --dt-color-secondary-contrast: #FFFFFF;
    --dt-color-secondary-dark-text: #000000;
    --dt-color-accent: #00843D;
    --dt-color-accent-contrast: #FFFFFF;
    --dt-color-accent-dark-text: #275D38;
    --dt-color-gray: #CCCCCC;
    --dt-color-gray-contrast: #000000;
    --dt-color-gray-dark-text: #636363;
    --dt-color-white: #FFFFFF;
    --dt-color-white-contrast: #000000;
    --dt-color-white-dark-text: #707070;
    --dt-color-graybg: ;
    --dt-color-graybg-contrast: ;
}

/*********************************************************************/
/***** END DESIGNPLUS THEME IMPORT & CUSTOMIZATION   *****************/
/*********************************************************************/
/********OTL DESIGNPLUS DEFAULT CSS**********/
/*@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");*/


h1.rad {
	font-family: "Rajdhani", sans-serif;
}

h2.rad {
	font-family: "Rajdhani", sans-serif;
	border-width: 0px 0px 7px;
	border-bottom-style: solid;
	border-bottom-color: #275d38;
	text-align: left;
	color: #275d38;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 24pt; 
}

h2.radnoline {
	font-family: "Rajdhani", sans-serif;
	text-align: center;
	color: #275d38;
	font-size: 24pt;
	padding-top: 8px; 
}

h3.rad {
  	font-family: "Rajdhani", sans-serif;
	border-width: 0px 0px 5px;
	border-bottom-style: solid;
	border-bottom-color: #275d38
	text-align: left;
	color: #275d38; 
	border-radius: 4px;
	font-size: 18pt;
}

h3.radnoline {
	font-family: "Rajdhani", sans-serif;
	color: #275d38;
	font-size: 18pt;
}

h3.radtable {
  	font-family: "Rajdhani", sans-serif;
	color: #275d38;
	font-size: 18pt;
}

h4.rad {
  	font-family: "Rajdhani", sans-serif;
}

h4.line	{
	border-bottom: 0px 0px 4px;
	border-bottom-style: solid;
	border-bottom-color: #c7cdd1;
	border-radius: 5px;
	font-size: 14pt;
}

p.rad {
  font-family: "Rajdhani", sans-serif;
}

#background {
	border-width: 0px !important;	
	background-color: #000000 !important;
	color: #ffffff !important;	
	padding-bottom: 10px !important;
	padding-top: 10px !important;	
}

.rule {
	background-color: #000000 !important; /* headers (and hardrule) */ 
}

.rounded_corner {
	border-radius:5px 
}
/********END OTL DESIGNPLUS DEFAULT CSS**********/

/********BEGIN CANVAS ANNOUNCEMENT CSS**********/

/********Code from CIDILABS so announcements don't break formatting**********/
.container:not(.container-fluid)
.container:not(.dp-content-block)
Body:has(:not(.dp-wrapper))
Body:has(:not(.dp-wrapper)) .container

/********End Code from CIDILABS so announcements don't break formatting**********/


.container {
    display: flex;
    flex-wrap: wrap;
}

.text-block {
    width: 50%; /* Each block takes 50% of the container */
    box-sizing: border-box; /* Includes padding and border in the width */
    padding: 10px;
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
    .text-block {
        width: 100%; /* Each block takes 100% of the container on smaller screens */
    }
}


/********END CANVAS ANNOUNCEMENT CSS**********/
/*Hide the ability to change each user's default email address*/
.email_meta {
	display: none;
	}
#default_email_id {
display: none;
}
	